.header {
  color: rgb(255, 255, 255);
  background: #033d06;
  display: flex;
  justify-content: space-between;

  top: 0;
  z-index: 1;
  width: '100%';
  .listMenu {
    display: flex;
    align-items: center;
  }
  .cart {
    display: flex;
    .cartCount {
    }
  }
}
